################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FairyTale/obj/Debug
/FairyTale/bin/Debug
.vs
.vs/FairyTale
.vs/FairyTale\v15

